/*IMPORT ANTD*/
@import "~antd/dist/antd.css";

/*REM*/
html {
  font-size: 100px; /*750:1REM=100PX*/
}

#root {
  margin: 0 auto;
  max-width: 750px;
  overflow: hidden;
}
/*SEARCH*/
.iptTopBox{
  box-sizing: border-box;
  padding: .2rem .3rem;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;

  .ant-input-search{
    box-sizing: border-box;
    width: 6.9rem;
    margin: 0 auto;

    .ant-input:not(:last-child){
      background: #f3f5f5;
      color: #999999;
    }
  }

}

/*NAV-BOTTOM*/
.footerNavBox {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: .98rem;
  border-top: .02rem solid #ddd;
  background: #fff;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    color: rgb(153, 153, 153);

    i {
      display: block;
      margin-top: .12rem;
      font-size: .3rem;
    }

    span {
      display: block;
      height: .5rem;
      font-size: .16rem;
      margin-top: .08rem;
    }

    &.active {
      color: rgb(173, 14, 17);;
    }
  }
}

/*CONTAINER*/
.container {
  padding: 1.12rem 0 1.08rem 0;
}